@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #EEECEB;
}

footer::before {
  content: '';
  position: absolute;
  left: 0;
  top: -8px;
  height: 1px;
  width: 100%;
  background: #AFAFB6;
}

footer {
  position: fixed;
  background: #EEECEB;
  width: 100%;
  bottom: 25px;
  left: 0;
}

footer .link-boxes {
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .link-boxes .box {
  /* width: calc(100% / 5 - 10px); */
  text-align: center;
  /* margin-left: 580px; */
}

.link-boxes .box li {
  margin: 6px 0;
  list-style: none;
  display: inline-block;
  padding: 12px;
}

.link-boxes .box li a {
  color: black;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  /* margin-left: 610px; */
  opacity: 0.8;
  transition: all 0.4s ease
}

.link-boxes .box li a:hover {
  opacity: 1;
  text-decoration: underline;
}

.media-button {
  display: flex;
  justify-content: center;
  /* align-items: center;
  margin-top: 15px;
  margin-left: 650px; */
}

.media-button .link {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 18px;
  height: 34px;
  width: 34px;
  border-radius: 50%;
  margin: 0 8px;
  background-color: #4070f4;
  text-decoration: none;
}

@media (max-width: 900px) {
  footer .content .link-boxes {
    flex-wrap: wrap;
  }

  footer .content .link-boxes .input-box {
    width: 40%;
    margin-top: 10px;
  }
}

@media (max-width: 700px) {
  footer {
    position: relative;
  }

  .content .top .logo-details {
    font-size: 26px;
  }

  .content .top .media-icons a {
    height: 35px;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 3 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 60%;
  }
}

@media (max-width: 520px) {
  footer::before {
    top: 145px;
  }

  footer .content .top {
    flex-direction: column;
  }

  .content .top .media-icons {
    margin-top: 16px;
  }

  footer .content .link-boxes .box {
    width: calc(100% / 2 - 10px);
  }

  footer .content .link-boxes .input-box {
    width: 100%;
  }
}